<!doctype html>
<html>
<head>
<!-- TemplateBeginEditable name="Header"-->
<meta charset="utf-8">
<title>estructura</title>
<link href="file:///C|/Users/Soham/Desktop/EXam/Websites/argentina/styles.css" rel="stylesheet" type="text/css">
<link href="file:///C|/Users/Soham/Desktop/EXam/Websites/argentina/texto.css" rel="stylesheet" type="text/css">
<!-- TemplateEndEditable -->
</head>

<body>
<div class="container">
<header> 
 
 <img src="file:///C|/Users/Soham/Desktop/EXam/Websites/argentina/top-logo.png" width="100%" height="160px">
 
  <nav>
    <div class="dropdown">
     <a href="#">ACERCA DE ARECO</a>
     <a href="#" style="color: white; float: right" >|</a>
      <div class="dropdown-content"> 
      <a href="#">Placeholder</a> <br> <!-- Insert Dropdown Link-->
      <a href="#">Placeholder</a>		<!-- Insert Dropdown Link-->
      </div>
    </div>
    <div class="dropdown">
     <a href="#">NUESTRAS AREAS</a>
     <a href="#" style="color: white; float: right">|</a>
      <div class="dropdown-content">
      <a href="#">Placeholder</a></div>
      
      </div>
    <div class="dropdown">
     <a href="#">PUBLICACIONES</a>
     <a href="#" style="color: white; float: right">|</a>
      <div class="dropdown-content">
      <a href="#">Placeholder</a>  			<!-- Insert Dropdown Link-->
      </div>
    </div>
    <div class="dropdown">
     <a href="#">EVENTOS</a>
     <a href="#" style="color: white; float: right">|</a>
      <div class="dropdown-content">
		  <a href="#">Placeholder</a>		<!-- Insert Dropdown Link-->
      </div>
    </div>
    <div class="dropdown">
     <a href="#">CONTACTO</a>
     
      <div class="dropdown-content">
		<a href="#">Placeholder</a>			<!-- Insert Dropdown Link-->
   </div>
    </div>
  </nav>
</header>
<main>
 <!-- Main Section in 2 columns-->
  <div class="col-2"> <!-- Main content Space-->
    <!-- TemplateBeginEditable name="Main Edit Region" -->
    <h1><img src="file:///C|/Users/Soham/Desktop/EXam/Websites/argentina/main-sign.png"></h1>
    <!-- TemplateEndEditable -->
    
    
    
    
    
    
    
    
    
    
    
    
    
  </div>
  <div class="col-2"> 
  <!-- Left Image-->
  <img src="file:///C|/Users/Soham/Desktop/EXam/Websites/argentina/main-image.png" width="100%" height="500px"> </div>
</main>
	</div>
</body>
</html>
